<!DOCTYPE html>
<html lang="en">

<body>
    <!-- navbar section  -->
    <app-nav></app-nav>


    <section class="support">
        <div class="overlay_image"></div>
        <div class="gowave-container ">
            <div class="gowave-row mb-3">
                <div class="contact_support">
                    <h2>CONTACT OUR SUPPORT TEAM</h2>
                </div> 
            </div> 
            <form action="" method="post">
                <div class="gowave-row">
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label">Email address (required)</label>
                        <input type="email" name="" id="" class="gowave-form-control" placeholder="e.g. NIgimoh@gmail.com">
                    </div>    
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label">Full Name </label>
                        <input type="text" name="" id="" class="gowave-form-control" placeholder="NIgimoh">
                    </div>
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label">What is your inquiry about? </label>
                        <input type="text" name="" id=""  class="gowave-form-control" >
                    </div>
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label">Is this related to our web platform or mobile app?</label>
                        <input type="text" name="" id=""  class="gowave-form-control" >
                    </div>
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label"> Subject </label>
                        <input type="text" name="" id="" class="gowave-form-control" placeholder="">
                    </div>
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label"> Description </label>
                        <textarea name="" id="" cols="30" rows="10"  class="gowave-form-control"></textarea>
                    </div>
                </div>
                <div class="gowave-col-md-12 col-12 text-end">
                    <input type="submit" class="btn-support" value="SUBMIT">
                </div>
            </form>
        </div>    
    </section>




     <footer class="footer">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-3 col-12">
                    <div class="footer-logo" style="padding-top: 20px;">
                        <img src="assets/image/footer-logo.svg" alt="" srcset="assets/image/footer-logo.svg">
                    </div>
                    <p class="footer-p">Explore diverse interactive quizzes across subjects, boost knowledge retention, and create personalized competitions. </p>
                </div> 
                <div class="gowave-col-md-3 offset-sm-1 col-12 ">
                    <div class="footer-link ">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-3 col-12 ">
                    <div class="footer-link ">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">Help/FAQ</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-2 col-12">
                    <div class="footer-link">
                        <ul>
                            <a href="#"><img src="assets/image/instagram icon.svg" alt=""></a>
                            <a href="#" class="ps-3"><img src="assets/image/facebook icon.svg" alt=""></a>
                            <a href="#" class="ps-3"><img src="assets/image/icon _linkedin original.svg" alt=""></a>
                        </ul>
                        <p class="discover-our-app">Discover our app</p>
                        <div class="align-items-center">
                            <a href="#">
                                <img src="assets/image/GooglePlay.png" width="75" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/image/PlayStore.png" width="75" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gowave-col-md-12 col-12" style="padding-top:50px;">
                    <p class="copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Gowave.com All Right Reserved</p>
                </div>
            </div>
        </div>           
    </footer> 
</body>

</html>