<!DOCTYPE html>
<html lang="en">

<body>



    <section class="login">
        <div class="gowave-container">
            <div class="">
                <div class="logo-logo">
                        <img src="assets/image/logo/Logo.png"  width="170" alt="">
                </div>
                <p class="title-head">Welcome, let’s get you started!</p>
                <p class="title-p">Please fill your detail to access your account.</p>
            </div>
            <form action="" method="post">
                <!-- <div class="gowave-row">
                    <div class="gowave-col-md-12 col-12 mb-3">
                        <label for="" class="login-label">Email </label>
                        <input type="email" name="" id="" class="gowave-form-control" placeholder="e.g. NIgimoh@gmail.com">
                    </div>
                    <div class="gowave-col-md-12 col-12 ">
                        <div class="login-password">
                            <label for="" class="login-label">Password</label>
                            <input type="password" name="" id="password_input" class="gowave-form-control" placeholder="*************">
                            <div class="login-password-eye">
                                <svg class="close-eye" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                </svg>
                                <svg class="open-eye" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                </svg>                                  
                            </div>
                        </div>
                    </div>
                </div> -->
               <!-- <div class="gowave-forget-account">
                    <div class="gowave-forget">
                        <span class="d-flex align-items-center">
                            <input type="checkbox" name="" id="">
                            <span class="remember">Remember me</span>
                        </span>
                    </div>
                    <div class="gowave-create-account">
                      <a href="#">Forgot password?</a>
                    </div>
               </div> -->
                <!-- <div class="gowave-col-md-12 col-12">
                    <input type="submit" class="btn-submit" value="Confirm">
                </div> -->
                <div class="gowave-col-md-12  col-12">
                    <div class="gowave-google ">
                        <a (click)='loginFunction()'  style='cursor:pointer;' class="d-flex align-items-center justify-content-center">
                            <img src="assets/image/Google.png" width="25" alt="">
                            <span>Sign in with Google</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="gowave-col-md-12 col-12">
                    <p class="login_p">Don’t have an account? <a href="signup.html">Sign up</a></p>
                </div> -->
            </form>
        </div>
    </section>

    <!-- <footer class="footer">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-4">
                    <div class="footer-logo" style="padding-top: 20px;">
                        <img src="assets/image/footer-logo.svg" alt="" srcset="assets/image/footer-logo.svg">
                    </div>
                    <p class="footer-p">Explore diverse interactive quizzes across subjects, boost knowledge retention, and create personalized competitions. </p>
                </div> 
                <div class="gowave-col-md-4 col-12 offset-sm-1">
                    <div class="footer-link ">
                        <h3>QUICK LINKS</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Apps&Games</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-3 col-12">
                    <div class="footer-link">
                        <h3>CONTACT US</h3>
                        <ul>
                            <a href="#"><img src="assets/image/instagram icon.svg" alt=""></a>
                            <a href="#"><img src="assets/image/icon _twitter.svg" alt=""></a>
                            <a href="#"><img src="assets/image/facebook icon.svg" alt=""></a>
                            <a href="#"><img src="assets/image/icon _linkedin original.svg" alt=""></a>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-12" style="padding-top:50px;">
                    <p class="copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Gowave.com All Right Reserved</p>
                </div>
            </div>
        </div>           
    </footer> -->
</body>

</html>