<!DOCTYPE html>
<html lang="en">
<body>
    <!-- navbar section  -->
    <header class="position-relative header">
        <div class=""></div>
        <app-nav></app-nav>

        <div class="about-us">
            <div class="gowave-container ">
                <div class="gowave-row mb-3 align-items-center">
                    <div class="gowave-col-md-6  col-12">
                        <h2>
                            Challenge Your Knowledge, <br>
                            <span class="about-subtitle">Master the Quiz!</span>
                        </h2>
                        <p class="about-p">
                            Gowave! is a educational platform company that wants to empower everyone, including children, students, and employees, to unlock their full learning potential
                        </p>
                    </div> 
                    <div class="gowave-col-md-6 col-12">
                        <img src="assets/image/about-us.png" class="img-fluid" alt="">
                    </div>
                </div> 
            </div>    
        </div>
    </header>


   


    <section class="we-are-about">
        <div class="gowave-container ">
            <div class="gowave-row mb-3 align-items-center">
                <div class="gowave-col-md-6 col-12 order-last mb-4">
                    <img src="assets/image/we_are_.png" class="w-100" width="100%" alt="">
                </div> 
                <div class="gowave-col-md-6 col-12 order-first mb-4">
                    <h2>WHAT ARE WE ALL ABOUT?</h2>
                    <p>
                        Gowave is an innovative educational platform that combines gamified learning, interactive quizzes, and competitions powered by HBAR. Engage in quizzes, host competitions, and reward top performers with HBAR tokens.
                    </p>
                    <p>
                        Explore diverse interactive quizzes across subjects, boost knowledge retention, and create personalized competitions. Top performers earn HBAR tokens for their expertise.
                    </p>

                    <p>
                        Utilizing Hedera Hashgraph's secure infrastructure, Gowave ensures transparent reward distribution and fosters healthy competition.
                        With Gowave, learners can dive into a diverse range of interactive quizzes across various subjects, enhancing their knowledge retention and engagement. Additionally, users have the opportunity to create and host their own competitions, setting rules and inviting participants to showcase their skills. Top performers in these competitions are rewarded with HBAR tokens as a recognition of their achievements and expertise.
                    </p>
                    
                </div>
            </div> 
        </div>    
    </section>


    <section class="features">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-12 col-12">
                        <h2 class="title">MISSION</h2>
                </div>
                <div class="gowave-col-md-3 col-12 mb-3">
                    <div class="content-f">
                        <h2 style="padding: 0;">Foster Competition</h2>
                        <p>
                            Promote healthy competition among users by offering challenging quizzes to encourage them to strive for the top scores and earn bragging rights.
                        </p>
                    </div>
                    <div class="content-f">
                        <h2 style="padding: 0;">Enhance Engagement</h2>
                        <p>
                            Aim to captivate users by delivering an immersive quiz experience with captivating visuals, dynamic question formats.
                        </p>
                    </div>
                </div>
                <div class="gowave-col-md-6 col-12 mb-3 text-center">
                    <div class="about-image">
                        <img src="assets/image/mission.png" alt="" class="img-fluid" width="400px">
                    </div>
                    <p>Gamification poured into every quizzes</p>
                </div>
                <div class="gowave-col-md-3 col-12 mb-3">
                    <div class="content-f">
                        <h2 style="padding: 0;">Empower Learning</h2>
                        <p>
                            Create a mission to provide an engaging and educational platform where users can expand their knowledge
                        </p>
                    </div>
                    <div class="content-f">
                        <h2 style="padding: 0;">User Feedback and Improvement</h2>
                        <p>
                            Constantly seek user feedback to improve the quiz game experience.
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <section class="our-value">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-12 col-12 mb-3">
                    <h2>Our Values</h2>
                </div>
                <div class="gowave-col-md-4 col-12 mb-3">
                    <div class="our-value-box">
                        <h4>We are playful</h4>
                        <div class="text-center">
                            <img src="assets/image/tree.png" width="100" alt="">
                        </div>
                        <p>
                            Play is the first language we learn. It’s how we discover the world and understand our place in it. When we make learning fun, we make it engaging for everyone.
                        </p>
                    </div>
                </div>
                <div class="gowave-col-md-4 col-12 mb-3">
                    <div class="our-value-box">
                        <h4>We are playful</h4>
                        <div class="text-center">
                            <img src="assets/image/gift.png" width="85" alt="">
                        </div>
                        <p>
                            Curiosity is part of human nature, and it lies at the heart of all great endeavors. It’s what turns learners into amazing leaders — and keeps those leaders learning.
                        </p>
                    </div>
                </div>
                <div class="gowave-col-md-4 col-12 mb-3">
                    <div class="our-value-box">
                        <h4>We are playful</h4>
                        <div class="text-center">
                            <img src="assets/image/heart.png" width="85" alt="">
                        </div>
                        <p>
                            We’re team players at Gowave! and believe that no learner, or host, should ever be left out. Gowave! strives to ensure that everyone has the chance to succeed.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>            

    <section class="get_in_touch">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-12 col-12 mb-3">
                    <h2>Get In Touch</h2>
                </div>
                <div class="gowave-col-md-6  col-12 mb-4">
                    <form action="" method="post">
                        <div class="gowave-row">
                            <div class="gowave-col-md-12 col-12 mb-4">
                                <input type="text" name="" class="get_in_touch_form_control" placeholder="Full Name" id="">
                            </div>
                            <div class="gowave-col-md-12 col-12 mb-4">
                                <input type="text" name="" class="get_in_touch_form_control" placeholder="E-mail" id="">
                            </div>
                            <div class="gowave-col-md-12 col-12 mb-4">
                                <input type="text" name="" class="get_in_touch_form_control" placeholder="Message" id="">
                            </div>
                            <div class="gowave-col-md-12 col-12">
                                <input type="submit" class="btn-get_in_touch" value="Contact Us">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="gowave-col-md-4  col-12 mb-4">
                    <div class="contact-info mb-3">
                        <h4>Contact</h4>
                        <p>hi@gowave.com</p>
                    </div>
                    <div class="contact-info contact-info-base">
                        <h4>Based in</h4>
                        <p>Nigeria, <br>
                            Edo state.</p>
                    </div>
                    <div class="contact-info">
                        <a href="#"><img src="assets/image/instagram icon.svg" alt=""></a>
                        <a href="#"><img src="assets/image/facebook icon.svg" alt=""></a>
                        <a href="#"><img src="assets/image/icon _linkedin original.svg" alt=""></a>
                    </div>
                </div>
                <div class="gowave-col-md-2 col-12">
                    <img src="assets/image/getintouch.png"  class="img-fluid" alt="">
                </div>
            </div>
        </div>        
    </section>

    <section class="subscribe">
        <div class="overlay-shape1"><img src="assets/image/shape1.svg" width="180" alt="shape"></div>
        <div class="overlay-shape2"><img src="assets/image/shape2.svg" width="180" alt="shape"></div>
        <div class="overlay-shape3"><img src="assets/image/star.png" width="100" alt="shape"></div>
        <div class="overlay-shape4"><img src="assets/image/share.svg" width="50" alt="shape"></div>
        <div class="gowave-container">
            <div class="gowave-row ">
                <div class="gowave-col-md-12 col-12 mb-3">
                    <h3>
                        Subscribe to get information, latest news and other
                        interesting offers about Gowave
                    </h3>
                </div>
                <div class="gowave-col-md-12 col-12 mb-3">
                    <form action="" method="post" class="d-flex justify-content-center">
                        <div class="position-relative">
                            <input type="email" name="" class="" id="" placeholder="Your email">
                            <div class="position-absolute">
                                <img src="assets/image/envelope.png" width="20" alt="">
                            </div>
                            <input type="submit" value="Subscribe">
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </section>


     <footer class="footer">
        <div class="gowave-container">
            <div class="gowave-row">
                <div class="gowave-col-md-3 col-12 mb-3">
                    <div class="footer-logo" style="padding-top: 20px;">
                        <img src="assets/image/footer-logo.svg" alt="" srcset="assets/image/footer-logo.svg">
                    </div>
                    <p class="footer-p">Explore diverse interactive quizzes across subjects, boost knowledge retention, and create personalized competitions. </p>
                </div> 
                <div class="gowave-col-md-3 offset-sm-1 col-12 mb-3">
                    <div class="footer-link ">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-3 col-12 mb-3">
                    <div class="footer-link ">
                        <h3>Contact</h3>
                        <ul>
                            <li><a href="#">Help/FAQ</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="gowave-col-md-2 col-12 mb-3">
                    <div class="footer-link">
                        <ul>
                            <a href="#" class=""><img src="assets/image/instagram icon.svg" alt=""></a>
                            <a href="#" class="ps-3"><img src="assets/image/facebook icon.svg" alt=""></a>
                            <a href="#" class="ps-3"><img src="assets/image/icon _linkedin original.svg" alt=""></a>
                        </ul>
                        <p class="discover-our-app">Discover our app</p>
                        <div class="align-items-center">
                            <a href="#">
                                <img src="assets/image/GooglePlay.png" width="75" alt="">
                            </a>
                            <a href="#">
                                <img src="assets/image/PlayStore.png" width="75" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="gowave-col-md-12 col-12" style="padding-top:50px;">
                    <p class="copyright">Copyright © <script>document.write(new Date().getFullYear())</script> Gowave.com All Right Reserved</p>
                </div>
            </div>
        </div>           
    </footer> 
</body>

</html>