
<h5>Welcome</h5>
<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Code</th>
        <th>View</th>
     
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listdata ">
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.code }}</td>
        <td><button routerLink="/details/{{item.code}}" >View</button></td>
     
      </tr>
   
      <!-- Add more rows as needed -->
    </tbody>
  </table>
<br>
<br>


<form (submit)="sendMessage()">
  <input [(ngModel)]='name.name' name='name' type="text" placeholder="name">
  <input [(ngModel)]='name.description' name='description' type="text" placeholder="description">
  <button type="submit">Submit</button>
</form>

