<!DOCTYPE html>
<html lang="en">

<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-white shadow" style="background-color: #FCFCFC;">
          <app-dashboardnav></app-dashboardnav>
        </div>
        <div class="col py-3">
            <div class="main">
              
              <div *ngIf="start==false">
                <h5 > Game has not started.</h5>                
                <input (click)="startGame()" type="button" value="Start Game" class="btn_set">
              </div>

              <h5 *ngIf="end==true"> Game has ended.</h5>

                <div class="container" *ngIf="start==true">
                    <div class="row py-5">
                        <div class="col-md-12 col-12">
                            <div class="count-time">
                                <p class="btn-count-time">00:{{ countdown }}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-12 py-3" *ngIf="start==true">
                            <div class="question">
                                <div class="position-relative">
                                    <h3>QUESTION {{index + 1}}</h3>
                                </div>
                                <p class="py-5">{{questiondata?.question }}</p>
                            </div>
                            <div class="question-box d-flex flex-wrap">
                                <button  class="question-boxs box1 mb-4">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/image/icon/Polygon 2.png" width="50" alt="">
                                        <span class="ps-4">{{questiondata?.optiona }}</span>
                                    </div>
                                </button>
                                <button  class="question-boxs box2 mb-4">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/image/icon/Polygon 3.png" width="50" alt="">
                                        <span class="ps-4">{{questiondata?.optionb }}</span>
                                    </div>
                                </button>
                                <button  class="question-boxs box3 mb-4">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/image/icon/Polygon 4.png" width="50" alt="">
                                        <span class="ps-4">{{questiondata?.optionc }}</span>
                                    </div>
                                </button>
                                <button  class="question-boxs box4 mb-4">
                                    <div class="d-flex align-items-center">
                                        <img src="assets/image/icon/Polygon 5.png" width="50" alt="">
                                        <span class="ps-4">{{questiondata?.optiond }}</span>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <h5>Leadership Board</h5>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" border="1">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Score</th>
                                   
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of leadershipList ">
                                    <td>{{ item.email }}</td>
                                    <td>
                                        {{ item.score }}
                                    </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
    