@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    list-style: none;
    font-style: normal;
}

:root{
    --primary-color:#4C4DDC;
    --secondary-color:#344054;
    --color-white:#FFFFFF;
    --color-back:#000000;
    --section-color:#F8F8F8;
    --section-padding:40px   0 20px;
    --neutral-90:#616161;
}

body{
    margin: 0;
    background-color: var(--color-white);
}

.gowave-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gowave-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}



.d-flex{
    display: flex;
}

.text-center{
    text-align: center !important;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important
}

.ps-1 {
    padding-left: .25rem !important
}

.ps-2 {
    padding-left: .5rem !important
}

.ps-3 {
    padding-left: 1rem !important
}

.ps-4 {
    padding-left: 1.5rem !important
}

.ps-5 {
    padding-left: 3rem !important
}

.position-relative{
    position: relative;
}

.mb-4{
    margin-bottom: 2rem;
}




.gowave-col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.gowave-col-md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.gowave-col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .gowave-col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

  .gowave-col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  
  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }


@media (max-width: 768px) {
    .col-12 {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }

      .offset-sm-1 {
        margin-left: 0%;
    }
}

.text-center{
    text-align: center;
}



.theme-btn{
    background: var(--primary-color);
    padding: 10px;
    color: var(--color-white);
}



.type-btn{
    border: 1px solid #121212;
    border-radius: 4px;
    padding: 10px;

}

.type-btn:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--color-white);
    transition: 3s;
}


.earn-btn{
    padding-top: 40px;
}

.earn-btn a{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-right: 30px;
}

.play-btn {
    background: var(--primary-color);
    color: var(--color-white);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    padding: 10px;
}

.header::after{
    position: absolute;
    top: 0%;
    content: "";
    right: 0%;
    background-image: url("../image/Decore.svg");
    background-repeat: no-repeat;
    width: 44%;
    height:80%;
    z-index: -1;
}

.navbar-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    padding: 10px  100px;
}



.navbar-header .logo-image{
    width:160px;
    max-width: 100%;
}


.navbar-header .menu-items ul{
    display: flex;
}

.navbar-header .menu-items ul li{
    padding: 10px  30px;
}

.navbar-header .menu-items ul li a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 0.104em;
}

.navbar-header .menu-items ul .nav-links a{
     color: var(--color-back);
}


.hamburger{
    position: relative;
    display: none;
}


.hamburger-menu {
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
  }
  .hamburger.menu-open .hamburger-menu {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: #222;
    border-radius: 2px;
    width: 100%;
    height: 3px;
  }

  .hamburger.menu-open .line-menu{
    background-color: var(--color-white);
  }

  .hamburger.menu-open{
      background-color: var(--color-back);
      padding: 10px;
      border-radius: 25%;
  }

  .line-menu.line-half {
    width: 50%;
  }
  .line-menu.first-line {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }
  .hamburger.menu-open .line-menu.first-line {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
  }
  .line-menu.last-line {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }
  .hamburger.menu-open .line-menu.last-line {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
  }

  .mobile-theme a{
    visibility: hidden;
  }

  @media screen and (max-width:769px) {

    .navbar-header{
        justify-content: space-between;
        padding: 25px 30px;
        position: relative;
    }
    .hamburger{
        display: block;
        position: absolute;
        right: 36px;
        z-index: 99999;
        
    }

    .navbar-header .menu-items:not(.menu-items.menu-open) {
        visibility: none;
    }

    .navbar-header  .menu-items {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        min-height: 100vh;
        padding: 0;
        z-index: 999;
        background-color: var(--primary-color);
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: visibility 0s, opacity .3s;
        -webkit-transition: 1.5s ease-in-out;
        transition: 1.5s ease-in-out;
      }
      
      .navbar-header .menu-items.menu-open  {
        visibility: visible;
        opacity: 1;
        -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: scale-up-tr 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        transform: translateX(0);
      }

      .navbar-header .menu-items.menu-open  ul{
          flex-direction: column;
      }

      .navbar-header .menu-items ul .nav-links a{
          color: var(--color-white);
      }

      .mobile-theme a{
        position: absolute;
        right: 88px;
        top: 22px;
        font-size: 11px;
        visibility: visible;
      }

      .menu .theme-btn {
         visibility: hidden;
      }

      .header::after{
        visibility: hidden;
      }
  }


  @media screen and (max-width: 600px){
    .mobile-theme .theme-btn {
         padding: 6px;
    }

    .navbar-header .logo-image {
        width: 110px;
    }
    
  }


/* ========================== */
/* ========================== */

/* earn and save  */

.earn-save-token{
    padding: var(--section-padding);
}

.earn-save-token .earn-save-content   h2{
    color:#181E4B;
    font-size: 73.791px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 2.952px;

}

.earn-save-token .earn-save-content span{
    font-size: 30px;
}

.earn-save-token .earn-save-content p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.104em;
    color: var(--color-back);
}


@media screen and (max-width:768px) {
    .earn-save-token .earn-save-content h2 {
        font-size: 30px;
        line-height: 28px;
    }    

    .earn-btn a{
        font-size: 13px;
        margin-right: 0px;
    }

    .earn-btn {
        padding-top: 20px;
    }

    .earn-save-content {
        padding-bottom: 40px;
    }

    .earn-btn .gowave-form-control {
        width: 80%;
    }

    .earn-save-token .earn-save-content span {
        font-size: 15px;
    }
}

/* ================== */
/* ================== */
/* about us */

.about{
    padding: var(--section-padding);
    background-color: var(--section-color);
}

.about-content h2{
    font-weight: 400;
    font-size: 38px;
    line-height: 25px;
    letter-spacing: 0.104em;
    color: var(--color-back);
}

.about-content p{
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.104em;
    padding-bottom: 20px;
}

/* how does it work */
.how-does-it-work{
    padding: var(--section-padding);
    position: relative;
}

.overlay_image1{
    position: absolute;
    top: 25%;
    left: 0%;
}

.how-does-it-work-content::after{
    content: '';
    position: absolute;
    width: 30%;
    
    top: 30px;
    height:220px;
    left: 0;
}

.how-does-it-work p{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.104em;
    color: var(--color-back);
    padding-bottom: 20px;
}

@media screen and (max-width:768px) {
    .overlay_image1{
        visibility: hidden;
    }
}



/* =================== */
/* ======= features =============*/

.features{
    padding:var(--section-padding);
    background-color: var(--section-color);
}

.features h2{
    padding-left: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.104em;
    color: var(--color-back);
}

.features .title{
    color:var(--color-back);
    font-size: 35px;
    line-height: 25px;
    letter-spacing: 3.952px;
    text-align: center;
    padding-bottom: 35px;
}


.features p{
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.104em;
    color: var(--color-back);
}

.content-f{
    padding-bottom: 25px;
}


/* ===================== */
/* ========= testimonial =========== */


.review-silder{
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
}

.review{
    padding:100px 0  150px;
}


.review-box{
    background: #FFFFFF;
    border: 1px solid rgba(126, 125, 130, 0.14);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    padding: 10px;
    height: 150px;
    width: auto;
    margin: 10px;
}



.review-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.review-box p{
    font-weight: 300;
    font-size: 13.7567px;
    line-height: 21px;
    letter-spacing: 0.104em;
    color: var(--color-back);
    text-align: justify;
}


.review-name{
    font-weight: 800;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.104em;
    color: var(--primary-color);
    padding-right: 10px;
}

.review-num{
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.104em;
    color: var(--primary-color);
    padding-left: 10px;
}


.review-left-content span{
    border-right: 1px solid var(--primary-color);
}

.review-left-content span:last-of-type{
    border-right: none;
}

/* .review-silder  */

.review-silder .owl-carousel .owl-dot, .owl-carousel .owl-nav {
    position: relative;
    top: -50px;
    right: 0;
}

 .owl-carousel  .owl-next {
    position: absolute;
    bottom:200px;
    right: 0;
    background: rgba(126, 125, 130, 0.14); 
    border-radius: 50%;
    padding: 10px;
}

.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    bottom:200px;
    right: 50px;
    background: rgba(126, 125, 130, 0.14); 
    border-radius: 50%;
    padding: 10px;
}

@media (min-width:1024px) {
    .review-box p{
        inline-size: 380px;
    }
}


@media (max-width:768px) {
    .review-box p{
        font-size: 9px;
        line-height: 12px;
        font-weight: 700;
    }
    .review-name ,.review-num{
        font-size: 10px;
    }    
    
    .review-box{
        padding: 5px 10px 20px;
    }

    .owl-carousel .owl-nav .owl-prev{
        bottom: 264px;
    }

    .owl-carousel .owl-next {
        bottom: 263px;
    }    
}







.footer{
    padding: var(--section-padding);
    
}

.discover-our-app{
    color:#5E6282;
    font-size: 15px;
    font-weight: 500;
    line-height: 124.5%;
    letter-spacing: 0.1px;
}


  .footer-link h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.104em;
    color: var(--color-back);
  }

  .footer-link ul{
    padding: 0;
  }

  .footer-link ul li a{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.104em;
    color: var(--color-back);
  }

  .footer .footer-p{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.104em;
    color: var(--color-back);
  }


  .footer .copyright{
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.104em;
    text-align: center;
    color: var(--color-back);
  }

  @media (max-width:768px) {
    .footer .copyright{
        font-size: 10px;
      }
  }


  /* ================= */
  /* login */

  .login{
    padding: var(--section-padding);
    max-width: 50%;
    margin: auto;
  }

  .login p{
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.022em;
    color: var(--color-back);
  }

  .login .login-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: var(--color-back);
  }

  .login .title-head{
    color: var(--color-back);
    font-size: 24px;
    line-height: 44px;
    letter-spacing: -0.528px;
    text-transform: capitalize;
  }

  .login .title-p{
    color: #667085;
    font-size: 16px;
    font-family: Poppins;
    line-height: 24px;
  }

  .gowave-form-control {
    display: block;
    width: 95%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
    /* appearance: none; */
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .mb-3{
    margin-bottom: 1.5rem;
  }

  .gowave-form-control:focus{
     border:1px  solid  var(--primary-color);
     outline: var(--primary-color);
  }

   .gowave-form-control::placeholder{
    font-weight: 400;
    letter-spacing: -0.006em;
    font-size: 14px;
    line-height: 20px;
    color: #757575;
  }



  .login .gowave-create-account a{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: var(--primary-color);
  }

   .login-password {
    position: relative;
  }

   .login-password-eye .close-eye{
    position: absolute;
    top: 34px;
    width: 20px;
    right: 10px;
    
  }

   .login-password-eye .open-eye{
      position: absolute;
      top: 34px;
      width: 20px;
      right: 10px;
      display: none;
  }
  


   .btn-submit{
     padding: 12px 80px;
     background-color: var(--primary-color);
     border: 1px solid var(--primary-color);
     margin-top: 20px;
     color: var(--color-white);
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
     border-radius: 6px;
     width: 100%;
  }

  .gowave-forget-account{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
  }

  .gowave-create-account p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.011em;
   
  }

  .login .remember{
    color: var(--secondary-color);
    font-size: 15px;
    font-family: Nunito Sans;
    line-height: 20px;
    padding-left: 10px;
  }


  .gowave-create-account a{
    color: var(--primary-color);
  }

  .gowave-google{
    margin-top: 30px;
    border-radius: 8px;
    padding: 10px 90px;
    border: 1px solid #D0D5DD;
    
  }

  .gowave-google:hover{
     background-color: var(--primary-color);
     color: var(--color-white);
  }

  .gowave-google span{
      padding-left:20px ;
      color:  #344054;
    font-size: 16px;
    line-height: 20px;

  }

  .gowave-google:hover span{
     color: var(--color-white);
  }

  .login .login_p{
    color: #344054;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (max-width:912px) {
    .gowave-google{
        padding: 10px 30px;
    }

    .login .title-head{
        font-size: 21px;
    }
  }

  @media screen and (max-width:768px) {
    .gowave-forget-account{
        padding-top: 20px;
    }
    .login p{
        font-size: 22px;
    }

    .login{
        max-width: 100%;
    }

    .login .gowave-row{
        justify-content: unset;
    }

    .gowave-create-account p{
        font-size: 16px;
        line-height: 5px;
    }
    
    

    .login .title-head{
        font-size: 21px;
        line-height: 23px;
    }

  }
  

  @media screen and (max-width:600px) {
    .login p {
        font-size: 19px;
    }
    .gowave-create-account p{
        font-size: 15px;
    }
  }


  @media screen and (max-width: 414px){
     .gowave-forget-account{
        /* flex-direction: column; */
        align-items: unset;
     }
  }


  /* ====================== */
  /* ====================== */
/* signup */

.signup{
    padding: var(--section-padding);
    max-width: 50%;
    margin: auto;
}

.signup_google_facebook{
    gap: 15px;
}

.signup .title-head{
    color: var(--color-back);
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

.signup .sigup_google , .signup .sigup_facebook{
    border-radius: 8px;
    border: 1px solid #E4D9D9;
    background: var(--color-white);
    padding: 10px  13px;
}

.signup .sigup_google span, .signup .sigup_facebook span{
    color: var(--color-back);
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
}

.signup .signup-or{
    color: #B1A0A0;
    font-size: 15px;
    padding-top: 25px;
    letter-spacing: 1.8px;
}


@media screen and (max-width:768px) {
    .signup {
        max-width: 100%;
    }

    .signup .sigup_google span, .signup .sigup_facebook span{
        font-size: 10px;
    }
}


@media screen and (max-width:600px) {
    .signup .sigup_google span, .signup .sigup_facebook span{
        font-size: 10px;
        
    }

    .signup .sigup_google , .signup .sigup_facebook{
        padding: 10px  10px;
    }

    .gowave-form-control{
        width: 90%;
    }
}

/* ======================================= */
/* ======================================= */
/* my game */

.host_games{
    padding: 100px  0px 50px;
    margin: auto;
    max-width: 50%;
    
}

.overlay_image{
    position: absolute;
    top: 33%;
    left: -110px;
    visibility: visible;
}

.host_games .gowave-form-control{
    margin-bottom: 30px;
}

.host_games select{
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--neutral-50, #C2C2C2);
    background: var(--neutral-10, #FFF);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.12);

}   

select{
    width: 100% !important;
}


.code_here{
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 13.166666030883789px 26.333332061767578px 0px #D5D6DB;
    padding: 14px  10px;
}

.join-btn{
    font-size: 13px;
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--primary-color);
    padding:15px 30px;
    border: 1px solid var(--primary-color);
    border-radius: 13px;

}

.text-end{
    text-align: end;
}


.play-game{
    position: relative;
}

.play-game-icon{
    position: absolute;
    top: -130%;
    left: 50px;
}




@media screen and (max-width:912px) {
    .play-game-icon {
        left: 16px;
    }
}


@media screen and (max-width: 820px){
    .play-game-icon {
        left: 8px;
    }
}


@media screen and (max-width:768px) {
    .host_games{
        max-width: 100%;
    }
    .play-game-icon{
        left: 340px;
    }
    
    .overlay_image{
        left: 0%;
        visibility: hidden;
    }
}

@media screen and (max-width:600px) {
    .play-game-icon{
        left: 120px;
    }
}
@media screen and (max-width:390px) {
    .play-game-icon {
        left: 109px;
    }
}

@media screen and (max-width: 360px){
    .play-game-icon{
        left: 95px;
    }
}



/* ========================= */
/* ========================= */


.support{
    padding: var(--section-padding);
}
.contact_support{
    width: 100%;
    background-color: var(--primary-color);
}

.contact_support h2{
    color: var(--color-white);
    font-size: 27px;
    text-align: center;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.208px;
}

.contact_support p{
    color: #FFF;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.792px;
}

.support .gowave-form-control{
    width: 97.5%;
}

.btn-support{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 1.872px;
    border: none;
    padding: 7px  15px;
    background-color: var(--primary-color);
}

@media screen and (max-width:768px) {
    .contact_support{
        padding: 15px 10px  15px 10px;
    }
    .support .gowave-form-control{
        width: 90%;
    }

    .contact_support h2{
        font-size: 12px;
        line-height: 1px;
    }
}


/* ====================== */
.about-us{
    padding: var(--section-padding);
    z-index: 2;
}


.about-us h2{
    color:  #181E4B;
    font-size: 50.215px;
    font-weight: 700;
    line-height: 50.682px;
    letter-spacing: -3.289px;
}


.about-us .about-subtitle{
    font-size: 30px;
}

.about-us .about-p{
    color: var(--color-back);
    font-size: 16.044px;
    font-weight: 300;
    line-height: 27.854px;
}

.we-are-about p{
    color: var(--color-back);
    font-size: 16.044px;
    font-weight: 300;
    line-height: 27.854px;
}
.we-are-about h2{
    color: #181E4B;
    font-size: 30px;
    line-height: 140%;
    letter-spacing: 4.18px;
    text-transform: uppercase;
}

@media screen and (min-width:1024px) {
    .about-us .about-p{
        inline-size: 350px;
    }
}


@media screen and (max-width:768px) {
    .about-us h2{
        font-size: 46.215px;
    }

    .about-us .about-p{
        font-size: 15.044px;
    }
}


/* ======================= */

.our-value{
    padding: var(--section-padding);
}

.our-value h2{
    color: var(--color-back);
    font-size: 40.11px;
    line-height: 49.023px;
    letter-spacing: 4.171px;
}

.our-value-box{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(126, 125, 130, 0.14);
    background: var(--color-white);
    margin: 0  10px;
    box-shadow:0 0 12px rgba(55, 125, 255, 0.1);
}

.our-value-box h4{
    color: var(--color-back);
    font-size: 18px;
    line-height: 27.854px;
    letter-spacing: 1.872px;
    text-align: center;
}
.our-value-box p{
    color: var(--color-back);
    font-size: 13px;
    font-weight: 300;
    line-height: 27.854px;
    text-align: center;
    letter-spacing: 1.456px;
}

@media screen and (max-width:768px) {
    .we-are-about h2{
        font-size: 23px;
    }
    
    .we-are-about p{
        font-size: 15px;
    }

    .order-first {
        order: -1 !important
    }
    
    .w-100{
        width: 100%;
    }
    
    .order-last {
        order: 2 !important
    }
}

/* ================== */
/* ================== */

.get_in_touch{
  padding: var(--section-padding);
}

.get_in_touch .get_in_touch_form_control{
    display: block;
    width: 70%;
    padding: 0.375rem 0.75rem  3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    border: none;
    background-color: #fff;
    background-clip: padding-box;
    border-bottom: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-get_in_touch{
    /* width: 100%; */
    color: var(--color-white);
    border-radius: 48px;
    background: #181E4B;
    padding: 15px 120px;
}

.get_in_touch_form_control::placeholder{
    color: rgba(0, 2, 75, 0.50);
    font-size: 16px;
    line-height: 120%;
}

.get_in_touch .get_in_touch_form_control:focus{
    outline: none ;
    border-bottom: 1px solid var(--primary-color);
}

.contact-info{
    padding-bottom:3rem;
}

.contact-info h4{
    color: #181E4B;
    font-size: 18px;
    font-family: Nunito Sans;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 0;
}

.content-info p{
    color: #00054B;
    font-size: 16px;
    font-weight: 300;
    line-height: 120%;
}

.contact-info a{
    padding-right: 20px;
}


.subscribe{
    margin: auto;
    max-width: 70%;
    position: relative;
    border-radius: 20px 129px 20px 20px;
    /* opacity: 0.20000000298023224; */
    padding: 40px  0px;
    background: rgba(223, 215, 249, .50);
}

.subscribe h3{
    color:  #5E6282;
    text-align: center;
    font-size: 33px;
    font-weight: 600;
    line-height: 40px;
}

.overlay-shape1{
    position: absolute;
    top: 0;
    right: 0;
}

.overlay-shape4{
    position: absolute;
    top: 0;
    right: 30px;
}
.overlay-shape2{
    position: absolute;
    bottom: 0;
    left: 0;
}

.overlay-shape3{
    position: absolute;
    bottom: 0%;
    right: 0;
}

.position-absolute{
    position: absolute;
    top:18px;
    left: 20px;
}


.subscribe input[type=email]{
    border-radius: 10px;
    border: 1px solid var(--color-white);
    background: var(--color-white);
    padding: 15px  68px 15px  50px;
    color: #39425D;
    font-size: 14px;
    margin-right: 20px;
}


.subscribe input[type=email]:focus{
    outline: none;
    border:1px solid var(--primary-color);
}


.subscribe input[type="submit"]{
    border-radius: 10px;
    background: var(--primary-color);
    padding: 15px  20px 15px  20px;
    color: var(--color-white);
    font-size: 14px;
    border: 1px solid var(--primary-color);
}


@media screen and (max-width:768px) {
    .subscribe {
        margin: auto;
        max-width: 100%;
        position: relative;
        border-radius: 0px 0px 0px 1px;
    }

    .subscribe h3{
        font-size: 17px;
        line-height: 25px;
    }

    .subscribe input[type="submit"]{
        width: 98%;
    }

    .subscribe input[type="email"]{
        width: 60%;
        margin-bottom: 15px;
    }
    
    .overlay-shape4{
        visibility: hidden;
    }
}

@media screen and (max-width: 540px){
 
    .subscribe input[type="submit"]{
        width: 90%;
    }

}

@media screen and (max-width: 414px){
    .subscribe input[type="submit"]{
        width: 97.5%;
    }
}
@media screen and (max-width: 360px){
    .subscribe input[type="submit"]{
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    .subscribe {
        margin: 0;
        max-width: 95%;
        border-radius: 0px 129px 0px 0px;
    }
    .subscribe input[type="submit"]{
        width: 98%;
    }

    .subscribe input[type="email"]{
        width: 50%;
    }

    .btn-get_in_touch{
        width: 100%;
        padding: 15px 100px;
    }
    .overlay-shape4{
        top: 0px;
    }
}


/* dashboard */

.sidenav{
    padding: 25px;
}


.sidenav ul li a{
    font-size: 13px;
    color: var(--neutral-90);
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.176px;
    font-family: 'Inter', sans-serif;
}

.sidenav ul .nav-item.active-nav{
    padding: 0px  70px 0px  10px;
    border-radius: 6px;
    background-color: var(--primary-color);
}

.sidenav ul .nav-item.active-nav a{
    color: var(--color-white);
}

.sidenav ul li a:hover{
    color: var(--primary-color);
}

.search .form-control{
    border-radius: 8px;
    padding: 20px 50px !important;
}

 .form-control:focus{
    overflow: none;
    box-shadow: none;
    border: 1px solid var(--primary-color);
   
}

.main .search{
    position: relative;
}

.main .search .search-icon{
    position: absolute;
    top: 32%;
    left: 2%;
}

.main .title{
    color: var(--color-back);
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
    font-family: 'Inter', sans-serif;
}

.start-quiz-content p{
    color: var(--color-back);
    font-size: 17px;
    font-family: 'Inter', sans-serif;
}

.start-quiz-content-image{
    position: relative;
    background-image: url('../image/quiz.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.075);
    text-align: center;
    width: 500px;
    height: 300px;
    padding-top:20px ;
}

.start-quiz-content-image h2{
    color: var(--color-white);
    font-size: 35px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.main .btn-quiz{
    position: absolute;
    bottom: 15%;
    right:35%;
}



.main .btn-quiz a{
    color: var(--color-white);
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    border-radius: 30px;
    padding: 10px  50px;
    text-decoration: none;
    background: #4C4DDC;
}

.main .my_games{
    color: var(--color-back);
    font-size: 23px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.main .quiz-silder{
    width: 100%;
}

.main .quiz-box{
    position: relative;
}

.main .quiz-box .quiz-box-content{
    visibility: hidden;
}

.main .quiz-box:hover  .overlay_quiz::after{
    position: absolute;
    top: 0%;
    content: "";
    width: 240px;
    border-radius: 20px  20px 20px 20px;
    height: 305px;
    background-color: rgba(0, 2, 75, 0.50);
}

.main .quiz-box:hover .quiz-box-content{
    visibility: visible;
    transition: all 0.1ms;
}

.main .quiz-box img{
    width: 50%;
}

.main .quiz-box-content h4{
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.main .quiz-box-content{
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 23%;
}


.main .btn-count-time{
    border-radius: 31.892px;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: #FFF;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    padding: 10px  30px;
    display: inline-block;
}


.main .question h3{
    color: var(--color-back);
    font-size: 44px;
    font-family: 'Inter', sans-serif;
}

.main .question h3::after{
    position: absolute;
    content: "";
    width: 180px;
    height: 3px;
    background-color: #FF0000;
    top: 60px;
    left: 0%;
}

.main .question p{
    color: #3F3D56;
    text-align: justify;
    font-size: 20.200px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.main .question-boxs{
  margin-right: 50px;
}

.main .question-boxs span{
    color: var(--color-white);
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
}

.main .question-boxs.box1{
    padding: 33px 161px 29px 30px;
    background: #A43636;
    flex-basis: 40%;
    border:1px solid #A43636;
}

.main .question-boxs.box2{
    padding: 33px 161px 29px 30px;
    flex-basis: 40%;
    background-color: var(--primary-color);
    border:1px solid var(--primary-color);
}

.main .question-boxs.box3{
    padding: 33px 161px 29px 30px;
    flex-basis: 40%;
    background: #FD5;
    border:1px solid #FD5;
}

.main .question-boxs.box4{
    padding: 33px 161px 29px 30px;
    flex-basis: 40%;
    background: #FD44B3;
    border:1px solid #FD44B3;
}

.main table thead th{
    background: #EFEFEF;
}

.main table, th,td{
    border: 1px solid var(--primary-color) !important;
}

 .mobile-sidebar{
    background-color:#FCFCFC;;
    padding: 19px;
    display: none;
}

.main .set_question{
    border: 0.5px solid #000;
    padding: 14px 16px 0px;
    display: inline-block;
}

.btn_set{
    color: var(--color-white);
    text-align: center;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
}

.mobile-nav{
    z-index: 22;
    width: 100%;
    left: 0%;
    min-height: 100vh;
    visibility: hidden;
}

.line {
    background-color: #222;
    border-radius: 2px;
    width: 100%;
    height: 3px;
  }

.sidenav_hamburger{
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 222;
}

.sidenav_hamburger{
    width: 20px;
    height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    -webkit-transition: transform 330ms ease-out;
    -moz-transition: transform 330ms ease-out;
    -o-transition: transform 330ms ease-out;
    transition: transform 330ms ease-out;
}
.sidenav_hamburger.menu-open {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


.sidenav_hamburger.menu-open .line{
    background-color: var(--color-back);
}



.sidenav_hamburger.menu-open .line.line-half {
   width: 50%;
}
.sidenav_hamburger .line.first-line {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
.sidenav_hamburger.menu-open .line.first-line {
    -webkit-transform: rotate(-90deg) translateX(3px);
    -moz-transform: rotate(-90deg) translateX(3px);
    -o-transform: rotate(-90deg) translateX(3px);
    transform: rotate(-90deg) translateX(3px);
}
.sidenav_hamburger .line.last-line {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}
.sidenav_hamburger.menu-open .line.last-line {
    -webkit-transform: rotate(-90deg) translateX(-3px);
    -moz-transform: rotate(-90deg) translateX(-3px);
    -o-transform: rotate(-90deg) translateX(-3px);
    transform: rotate(-90deg) translateX(-3px);
}

.mobile-nav{
    transform: translateX(-100%);
    transition: visibility 0s, opacity .3s;
    -webkit-transition: 1.3s ease-in-out;
    transition: 1s ease-in-out;
}


.welcome{
    color: var(--primary-color);
    font-size: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 3.12px;
}

.btn-host{
    border-radius: 10px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    padding: 7px 30px;
}

.mobile-nav.menu-open  {
    visibility: visible;
    opacity: 1;
    -webkit-animation: scale-up-tr 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-tr 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    opacity:1;
    transform: translateX(0);
}


@media screen and (max-width:768px) {
    .mobile-sidebar{
        display: block;
    }
    .mobile{
        display: none;
    }
    .main .question-boxs.box1 {
        padding: 33px 135px 29px 30px;
    }

    .main .question-boxs.box3 {
        padding: 33px 123px 29px 30px;
    }  
    
    .main .question-boxs.box4 {
        padding: 33px 143px 29px 30px;
    }    

    .sidenav{
        padding: 20px 0px 10px;
    }

    .sidenav ul .nav-item{
        padding: 0px 80px 0px 20px;
    }

    .sidenav ul .nav-item.active-nav{
        border-radius: 0px;
    }

    .start-quiz-content-image{
        width: 100%;
    }

    .main .btn-quiz{
        right: 20%;
    }

    .main .search .search-icon{
        left: 7%;
    }

    .search .form-control{
        padding: 15px  50px !important;
    }
}

@media screen and (max-width: 360px){
    .main .question-boxs.box1 {
        padding: 33px 60px 29px 30px;
    }



    .main .question-boxs.box2 {
        padding: 33px 85px 29px 30px;
    }    
    .main .question-boxs.box4 {
        padding: 33px 70px 29px 30px;
    }
    .main .question-boxs.box3 {
        padding: 33px 50px 29px 30px;
    }

    .main .question h3{
        font-size: 40px;
    }
}
